<?xml version="1.0" encoding="UTF-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Application>GitHub Copilot</Application>
  <Pages>15</Pages>
  <Words>3500</Words>
  <Company></Company>
</Properties>